@import '../../styles/design-tokens.scss';
.icon {
  display: inline-block;

  margin-right: 1.75rem;

  transition: color 0.4s ease;

  &:hover {
    transition: color 0.4s ease;

    color: $orange;
  }
}
